* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  padding: 10px;
  background-color: gainsboro;
  color: forestgreen;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-players {
  border: 5px solid green;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.game-players h2 {
  margin: 15px;
}

.player-1 {
  color: red;
}

.player-2 {
  color: blue;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.game-board {
  margin: 5px;
  padding: 5px;
  width: min-content;
  border: 5px solid green;
  display: grid;
  grid-template-rows: repeat(10, 55px);
  grid-template-columns: repeat(10, 55px);
  grid-gap: 5px;
}

.game-board-square {
  border: 1px solid maroon;
}

.game-dice {
  border: 5px solid green;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.dice {
  width: 150px;
  height: auto;
  border: 3px solid green;
  border-radius: 10px;
  margin-top: 10px;
}
